@font-face {
    font-family: Montserrat;
    src: url('./fonts/Montserrat-VariableFont_wght.ttf');
}

:root {
    --green-color: #64ca6d;
    --darker-green-color: #4fa356;
    --white-color: #e7e7e7;
    --grey-color: #cccccc;
    --violet-color: #8a60ce;
    --darker-violet-color: #664796;
    --yellow-color: #d1b537;
    --red-color: #e03939;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 6fr;
}

.sidebar {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--green-color);
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sidebar > * {
    color: var(--white-color);
}

.sidebar > button {
    align-self: center;
    margin-left: 0px;
    width: 80%;
    font: 700 1.2rem Montserrat, Helvetica, sans-serif;
    background-color: var(--green-color);
    border: 2px solid;
    border-color: var(--white-color);
    border-radius: 24px;
    color: var(--white-color);
    padding: 0.5rem;
}

.sidebar > button:active {
    background-color: var(--darker-green-color);
    color: var(--grey-color);
}

.sidebar > .your-projects {
    font: 700 1.5rem Montserrat, Helvetica, sans-serif;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}

.sidebar-projects-container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sidebar-projects-container > .project-link {
    display: block;
    font: 600 1.2rem Montserrat, Helvetica, sans-serif;
    padding-left: 24px;
    padding-right: 24px;
}

.project-link:hover {
    color: var(--grey-color);
}

.project-container {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 64px 3fr;
}

.project-header {
    background-color: var(--white-color);
    grid-row: 1 / 2;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-name {
    font: 700 1.6rem Montserrat, Helvetica, sans-serif;
}

.project-description {
    font: 500 1rem Montserrat, Helvetica, sans-serif;
}

.project-buttons-container {
    margin-top: auto;
    display: flex;
    gap: 16px;
}

.project-buttons-container > button {
    font: 600 0.8rem Montserrat, Helvetica, sans-serif;
    background-color: var(--white-color);
    width: 120px;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 24px;
    border-color: var(--green-color);
    color: var(--darker-green-color);
}

.project-buttons-container > button:active {
    background-color: var(--grey-color);
}

.gradient {
    background-image: linear-gradient(var(--white-color), var(--violet-color));
}

.todos-container {
    background-color: var(--violet-color);
    grid-row: 3 / 4;
    display: grid;
    grid-template-rows: 64px 1fr;
    gap: 24px;
}

.todos-selection {
    place-self: center;
    margin-top: 24px;
}

.todos-selection > button {
    color: var(--white-color);
    font: 700 0.8rem Montserrat, Helvetica, sans-serif;
    width: 140px;
    padding: 0.5rem;
    background-color: var(--violet-color);
    border: 2px solid;
    border-color: var(--white-color);
}

.todos-selection > button:nth-of-type(1) {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    border-right: 2px;
}

.todos-selection > button:nth-of-type(3) {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border-left: 2px;
}

.in-progress-button.active, .completed-button.active, .all-button.active {
    background-color: var(--darker-violet-color);
}

.todos-cards {
    box-shadow: 3px 3px 3px;
    background-color: var(--white-color);
    border: 6px solid;
    border-color: var(--white-color);
    border-radius: 8px;
    margin: 24px;
    margin-top: 0;
    padding: 24px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.todo-card {
    border-left: 12px solid;
    background-color: var(--grey-color);
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.todo-card.rolled {
    height: 100px;
}

.todo-card.unrolled {
    height: 200px;
}

.card-title {
    font: 600 1rem Montserrat, Helvetica, sans-serif;
    text-wrap: wrap;
    overflow: auto;
}

.card-description {
    overflow: auto;
}

.todo-card:has(.card-priority.low) {
    border-color: var(--green-color);
}

.todo-card:has(.card-priority.medium) {
    border-color: var(--yellow-color);
}

.todo-card:has(.card-priority.high) {
    border-color: var(--red-color);
}

.error {
    color: red;
}

/*.project-buttons-container {
    display: flex;
}

.edit-project-button {
    margin-left: auto;
}
*/